.Input {
    position: relative;
    margin-bottom: 45px;
    margin-top: 12px;
    --input-color: #fff;
    --input-focus-color: #2979ff;
    --input-error-color: #e74c3c;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    background: transparent;
    color: var(--input-color);
    border-bottom: 1px solid var(--input-color);;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: var(--input-color);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -12px;
    font-size: 14px;
    color: var(--input-focus-color);
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
    height: 1px;
}

.Input_error {
    position: absolute;
    margin-left: 5px;
    text-align: left;
    color: var(--input-error-color);
}

.Input_error:not(:empty) ~ .bar:before,
.Input_error:not(:empty) ~ .bar:after {
    background: var(--input-error-color);
}

.Input_error:not(:empty) ~ label {
    color: var(--input-error-color);
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--input-focus-color);
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@keyframes inputHighlighter {
    from {
        background: var(--input-focus-color);
    }
    to {
        width: 0;
        background: transparent;
    }
}
